.gallery_card-block {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 950px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.loading-spinner {
    margin: 10% 50%;
}